html, body {
	width: 100%;
	height: 100%;
	background: #FFEFD5;

}
h3 {
	font-size: 20px;
}

.head{ /*оранжевый заголовок*/
	font-family: 'Caveat', cursive;
	position: relative;
	height: 130px;
	width: 160px;
	background: orange;
	border: 2px solid black;

	}
.head_1{  /* зеленый заголовок*/
	position: relative;
	height: 130px;
	width:820px;
	background: green;
	left:170px;
	bottom: 129px;
	float: left;
	text-align: center;

}
.footer {
	position: fixed;
	right: 0px;
	height: 50px;
	width: 820px;
	bottom:  0px;
	text-align: right;
	border: 2px solid black;
	background: aqua;
}
.slaidbar {
	position: relative;
	width: 160px;
	height: 500px;
	border:2px solid black;
	left:0px;
}

.slaidbar_1 {
	position: absolute;
	left: 5px;
	top:5px;
}