body { /*тело документа с фоном*/
	width: 100%;
	min-width:960px;
	background: url(img/3.jpg);
	background-size: 100%;


}
h3 {
	font-size: 20px;
}

.head{ /*оранжевый заголовок*/
	font-family: 'Caveat', cursive;
	position: relative;
	height: 130px;
	width: 160px;
	background: url();
	/*border: 2px solid black;*/
	text-align: left;

	}
.head_1{  /* зеленый заголовок*/
	position: relative;
	height: 130px;
	width:820px;
	background: ;
	left:170px;
	bottom: 129px;
	float: left;
	text-align: center;

}
.footer {
	position: fixed;
	right: 0px;
	height: 50px;
	width: 820px;
	bottom:  0px;
	text-align: right;
	border: 2px solid black;
	background: aqua;
}
.slaidbar {
	position: relative;
	width: 160px;
	height: 500px;
	border:2px solid black;
	left:0px;
}

.slaidbar_1 {
	position: absolute;
	left: 5px;
	top:5px;
}